#
# SPDX-License-Identifier: GPL-3.0-or-later

SERIAL 0 38400
UI vesamenu.c32
MENU TITLE Archcraft - A Minimal Linux OS
MENU BACKGROUND splash.png

MENU WIDTH 78
MENU MARGIN 4
MENU ROWS 10
MENU VSHIFT 10
MENU TABMSGROW 14
MENU CMDLINEROW 14
MENU HELPMSGROW 16
MENU HELPMSGENDROW 29

# Title bar
menu color title 0 #ffffffff #00000000 *

# Border Area
menu color border * #00000000 #00000000 none

# Unselected menu item
menu color unsel 0 #ffffffff #00000000 *

# Unselected hotkey
menu color hotkey 0 #ffffffff #00000000 none

# Selection bar
menu color sel 0 #ff00ADB5 #00000000 none

# Selected hotkey
menu color hotsel 0 #ffffffff #00000000 none

# Press [Tab] message
menu color tabmsg 0 #ffb2c7e5 #00000000 none

# Timeout message
menu color timeout_msg 0 #ffb2c7e5 #00000000 none

# Timeout counter
menu color timeout * #ffffffff #00000000 none

# Command line
menu color cmdline 0 #ffb2c7e5 #ff182642 none

# Command line marker
menu color cmdmark 0 #00000000 #00000000 none

# Helptest
menu color help 0 #ffffffff #00000000 none

LABEL arch64
TEXT HELP
Boot Archcraft install medium on BIOS.
It allows you to install Archcraft or perform system maintenance.
ENDTEXT
MENU LABEL Archcraft install medium (x86_64, BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% quiet splash nowatchdog vt.global_cursor_default=0 loglevel=2 rd.systemd.show_status=false rd.udev.log-priority=3 sysrq_always_enabled=1 cow_spacesize=2G

LABEL existing
TEXT HELP
Boot an existing operating system.
Press TAB to edit the disk and partition number to boot.
ENDTEXT
MENU LABEL Boot existing OS
COM32 chain.c32
APPEND hd0 0

# http://www.memtest.org/
LABEL memtest
MENU LABEL Run Memtest86+ (RAM test)
LINUX /%INSTALL_DIR%/boot/memtest

# http://hdt-project.org/
LABEL hdt
MENU LABEL Hardware Information (HDT)
COM32 hdt.c32
APPEND modules_alias=hdt/modalias.gz pciids=hdt/pciids.gz

LABEL reboot
TEXT HELP
Reboot computer.
The computer's firmware must support APM.
ENDTEXT
MENU LABEL Reboot Computer
COM32 reboot.c32

LABEL poweroff
TEXT HELP
Power off computer.
The computer's firmware must support APM.
ENDTEXT
MENU LABEL Power Off Computer
COM32 poweroff.c32

ONTIMEOUT arch64
